:root {
  font-size: 0.875em; /* 14px circa, depending on browser's default */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 100;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
